
p {
  font-family: Times;
}


.big {
  font-size: large;
  font-weight: bold;
}

.italics{
  font-size: small;
  font-style: italics;
}

/* ID selector that gives the element with this ID a red style. */
#boldly {
  color: red;
  font-family: fantasy;
}
